.customNodeWrapper {
  all: unset;
  z-index: 20;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.commitNode {
  all: unset;
  border-radius: 50%;
  z-index: 20;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .commitLabel {
    position: absolute;
    padding: 2px 5px 2px 2px;
    border-radius: 5px;
    font-size: 0.7rem;
  }
}

.mergeCommitInner {
  border-radius: 50%;
  position: absolute;
}

.tooltipContainer {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  pointer-events: none;
  white-space: nowrap;
  margin-bottom: 8px;
}
